<h2>Livros da Casa do Código</h2>

<div class="row" *ngIf="dadosLivrosAdd.length > 0; else semLivros">
  <div class="card" *ngFor="let item of dadosLivrosAdd">
    <h2>{{item.titulo}}</h2>
    <p>{{item.autor}}</p>
    <p>{{item.descricao}}</p>
    <div class="btnSetup">
      <button class="edit" (click)="editar()">Editar</button>
      <button class="delete" (click)="deletar(item.id)">Deletar</button>
    </div>
  </div>
</div>

<ng-template #semLivros>
  <div class="row">
    <p class="card">Sem livros cadastrados.</p>
  </div>
</ng-template>
