<section class="novolivro">
  <form class="form" (ngSubmit)="addLivro()">

    <h2 class="titulo">{{ title}}</h2>

    <div class="form-inputs">
      <label class="label" for="titulo">
        Título
      </label>
      <input class="input" id="titulo" type="text" name="titulo">
    </div>

    <div class="form-inputs">
      <label class="label" for="autor">
        Autor
      </label>
      <input class="input" id="autor" type="text" name="autor">
    </div>

    <div class="form-inputs">
      <label class="label" for="descricao">
        Desrição
      </label>
      <input class="input" id="descricao" type="text" name="descricao">
    </div>

    <div class="form-button">
      <button class="button" type="submit">Adicionar</button>
    </div>

  </form>
</section>
