.novolivro {
  padding: 2em;
  max-width: 400px;
  margin: 0 auto;
}

.form {
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.767);
  border-radius: 20px;
  border-radius: 5px;
  padding: 10px 0;
}

.form .titulo {
  text-align: center;
  margin: .5em 0;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
}

.form-inputs .input {
  width: 90%;
  padding: 7px 5px;
  border-radius: 10px;
  border: none;
}

.form-button {
  display: flex;
  margin: 15px 0;
}
.form-button .button{
  width: 120px;
  height: 25px;
  border: none;
  border-radius: 7px;
  margin: 0 auto;
}


